.municipalities {
    fill: #ccc;
    stroke: #000;
    stroke-width: 0.5;
    }

div.tooltip{
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    font: 12px sans-serif;
    color: #ffffff;
    background: #000000;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    }

#legend {
    width: 500px;
    float:left;
    padding: 0 0 0 1.5em;
    }

.legendtext {
    font-size: 12px;
    font-color: #ffffff;
    }

li.key {
    border-top-width: 15px;
    display: inline-block;
    list-style-type: none;
    border-top-style: solid;
    font-size: .75em;
    width: 8%;
    padding-left: 0;
    padding-right: 0;
    }

#piechart{

    border-radius: 15px;
    //border: 2px solid #000000;
    padding: 5px;
    margin-top: 1.8em;
    height: 480px;
    display:inline-block;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);

}

h4{
    margin-left: 0px;
    margin-top: 20px;
    font-family: sans-serif;
    }

h3{
    font-family: sans-serif;
    }


#year{
    float:right;
    margin-right: 3.5em;
    margin-top:1.5em;
    }

		text {
		font-size: 10px;
		text-anchor: middle;
		fill: #4f442b;
		}
		g > text.active {
		font-size: 30px;
		}
		circle {
		fill: #75739F;
		stroke: black;
		stroke-width: 1px;
		}
		circle.active {
		fill: #FE9922;
		}
		circle.inactive {
		fill:
		{
		    margin:0;padding:0;
		}
